Repository TeamKitten/NoteNote, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci/cd

.github/labeler.yml:

backend:
  - api/**

frontend:
  - app/**

ci/cd:
  - .github/*.yml
  - .github/workflows/**/*

Docker対応
  .dockerignore
  Dockerfile
Labels: none

use busybox instead alpine
  Dockerfile
Labels: none

fixed version
  .go-version
  .node-version
Labels: none

deploy DockerHub
  .github/workflows/deploy_staging.yml
Labels: ci/cd

Auto deployment for lightsail
  .github/lightsail.json
  .github/workflows/deploy_staging.yml
Labels: ci/cd

API側仮実装
  .env
  Dockerfile
  bindata.go
  go.mod
  go.sum
  main.go
  router.go
  server/domain/model/note.go
  server/domain/repository/note.go
  server/handler/notes.go
  server/infra/dbhandler.go
  server/infra/note.go
  server/injector/injector.go
  server/usecase/note.go
Labels: none

CI: go-version: 1.15
  .github/workflows/api_test.yml
Labels: ci/cd

go get
  .github/workflows/api_test.yml
Labels: ci/cd

moved server to api
  api/domain/model/note.go
  api/domain/repository/note.go
  api/handler/notes.go
  api/infra/dbhandler.go
  api/infra/note.go
  api/injector/injector.go
  api/usecase/note.go
  router.go
Labels: backend

auto deployment fix
  .github/workflows/deploy_staging.yml
Labels: ci/cd

${{ env.GITHUB_WORKSPACE }}
  .github/workflows/deploy_staging.yml
Labels: ci/cd
